p{
    color:black;
}

#loucura {
    background-color:mediumspringgreen;
    color:white;

}

.murilo {
    font-family: "Droid Sans Mono Slashed";
    font-size: 20pt;
    color: black;
}
    body{
background-color:lightgray;
}
    table{
        font-family: arial;
        text-align: right;
    }
    th{
        background-color:lightgray;
        color:white;
    }
    tr:nth-child(odd){
        background-color:white;
    }

    tr:nth-child(even){
    background-color:white;
}
    a:hover{
    background-color:lightgray;
    color:white;
}